@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
/*--------------------------------------------Body*/

.flavour-text {
   background-color: #c7c7c7;
    background-repeat: no-repeat;


}

.bg-color-name-title {
    background-color: #F5FFF2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: black;
    max-width: 2000px;
    margin: 0 auto;
}

/*--------------------------------------------Heading*/
header {
    margin-bottom: 20px;
}

header img {
    float: right;
    width: 50px;
    
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
    background-color: #F5FFF2;
    padding: 10px;
    margin: 0;
}

#logo {
    float: right;
    font-size: 200%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    padding-right: 10px;
    margin-bottom: -8px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin: 0px;
    padding: 0;
}
#log, #menu {
    line-height: 75px;
}
#menu li {
    display: inline-block;
    margin-left: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
    header img {
        float: none;
        display: block;
        margin: 0 auto;
    }

    #logo {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    #menu {
        text-align: center;
    }

    #menu li {
        display: block;
        margin: 0px 0;
        padding-top: 0px;
    }
}

/*--------------------------------------------Hero Image*/

#hero {
    height: 610px;
    width: 100%;
    background-image: url("../images/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;



    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -10px;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: black;

}

#cover-text h3 {
    font-size: small;
}

#cover-text {

    font-family: 'Playfair Display',
        serif;

    letter-spacing: 2px;

    width: 500px;
    height: 200px;
    border-radius: 25px;

    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #ffffffde;
    

    bottom: 30px;
    left: 150px;

    position: absolute;
}

/*--------------------------------------------Info Section*/

#hero {
    height: 610px;
    width: 100%;
    background-image: url("../images/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;



    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -10px;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: black;

}

#cover-text h3 {
    font-size: small;
}

#cover-text {

    font-family: 'Playfair Display',
        serif;

    letter-spacing: 2px;

    width: 500px;
    height: 200px;
    border-radius: 25px;

    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #ffffffde;
    

    bottom: 30px;
    left: 150px;

    position: absolute;
}

/*--------------------------------------------Info Section*/

.flavour-text p {
    background-color: #fffffff6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}


#left-flavour {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-flavour {
    padding-top: 30px;
    width: 33%;
    float: right;

}


#center-insta {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-why-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-why-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}


#container {
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 0 auto
}

#cover-bg {
    background: url('../images/instapic.png') no-repeat center center;
    height: 100%;

}

/*--------------------------------------------responsive index*/
/* CSS for responsive design */
/* Mobile Styles */
@media screen and (max-width: 1023px) {
    #cover-text {
        width: 90%;
        left: 5%;
        right: 5%;
        bottom: 50px;
    }

    #left-flavour,
    #right-flavour {
        width: 100%;
        float: none;
        padding-top: 0px;
        text-align: center;
        width: fit-content;
    }

    #center-about {
        display: none;
        margin: 0 auto;
        clear: both;
    }

    #hero h2 {
        font-size: 16px;
    }

    #cover-text h3 {
        font-size: 65%;
    }

    .left-why-heading {
        width: fit-content;
        
        padding: 10px;
    }

    .right-why-heading {
      width: fit-content;
      
    padding: 10px;
    }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #cover-text {
        width: 70%;
        left: 15%;
        right: 15%;
        bottom: 30px;
    }
}




/*--------------------------------------------Footer*/

/* CSS for the footer */
footer {
    background-color: #F5FFF2;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    
    justify-content: center;
}

.column {
    flex: 1;
    margin: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-links {
    text-align: center;
    margin-bottom: 15px;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 18px;
    margin: 5px;
    color: #777777;
}

form {
    text-align: center;
    margin-top: 10px;
}

input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: #222324;
    border-style: groove;
}

input[type="submit"] {
    background-color: #777777;
    color: white;
    padding: 5px 10px;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b3cfdb;
}

footer p {
    font-size: 10px;
    margin-bottom: 5px;
    text-align: center;
}

footer h3 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .column {
        flex: 0 0 30%;
    }
}


/*--------------------------------------------NEW PAGE- Hikes*/

.page-opener h2 {
    font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #555555;
        background-color: #F5FFF2;
        padding: 10px;
        margin: 0;
        border-style: double;
        border-color: black;
}
#walks {
    background-color: #fafafaf6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#easy-walk {
    padding-top: 0px;
    width: 33%;
    float: left;
}

#mid-walk {
    padding-top: 0px;
    width: 33%;
    float: right;
}

#hard-walk {
    padding-top: 0px;
    width: 33%;
    margin: 0 auto;
}

#walks h2 {
    text-decoration: underline;
}

#walks {
    background-color: #fafafaf6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#easy-walk {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#mid-walk {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#hard-walk {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#walks h2 {
    text-decoration: underline;
}



.column {
    float: left;
    width: 32%;
    padding: 10px;
    margin-left: 1px;
    margin-right: 20px;
    margin-left: 20px;
    border-style: groove;
}

.row {
    align-items: center;
        justify-content: center;
    }


.row::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
        justify-content: center;
    }
    


#cafes {
    background-color: #fafafaf6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#cafe-1 {
    padding-top: 30px;
    width: 33%;
    float: left;
    padding-left: 30px;
}

#cafe-2 {
    padding-top: 30px;
    width: 33%;
    float: right;
    padding-right: 30px;
}

#cafe-3 {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#cafes h2 {
    text-decoration: underline;
}

.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

/*--------------------------------------------HIKES/CAFE RESPONSIVE*/

@media only screen and (max-width: 767px) {

    /* Adjust the page opener */
    .page-opener-content {
        text-align: center;
    }

    /* Hide the row element on mobile */
    .row {
        display: none;
    }

    /* Adjust the cafe sections */
    #cafes {
        margin-left: 0;
        margin-right: 0;
        width:100%;
        text-align: center;
        display: flex;
            flex-direction: column;

    }

    /* Fix the page shift on mobile */
    body {
        margin: 0;
        padding: 0;
        margin-left: 5px;
        /* Add margin on the left for mobile */
    }

    /* Center the cafe sections */
    .cafe-section {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    /* Responsive changes for h2 and p elements */
    h2 {
        font-size: 24px;
        line-height: 28px;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        

    }

    /* Hide images on mobile */
    .column img {
        display: none;
    }

    /* Stack cafe sections on top of each other */
    .cafe-section {
        margin-bottom: 20px;
    }

    
}

@media only screen and (max-width: 480px) {

    /* Adjust the cafe stats list */
    .cafe-stats {
        padding-left: 0;
    }

    .cafe-section-content {
        text-align: center;
    }

    div#cafe-1.cafe-section,
    div#cafe-2.cafe-section,
    div#cafe-3.cafe-section {
        margin: 0;
        width: 100%;
        padding-right: 40px;
    }

        div#cafe-1,
        div#cafe-2,
        div#cafe-3 {
            margin: 0;
                width: 100%;
                padding-right: 30px;
                padding-left: 30px;
        }

}
/*--------------------------------------------NEW PAGE- Hotels*/



section.hotel {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 20px;
    /* Added left and right margins */
}

.hotel-info {
    padding: 30px;
}

.hotel-info h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
}

.hotel-info p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.hotel-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 400px;
    /* Center the image horizontally */
}

.hotel-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    /* Ensure images have the same size */
    width: 599px;
    /* Added width property */
}

#bottom-map p{
    text-decoration: underline;
    text-align: center;
}

.center {
    max-width: 100%;
    overflow: hidden;
    color: #c3f8c1;
    width: 700px;
    height: 200px;
}

#gmap-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#gmap-canvas iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.google-map-code-enabler {
    display: none;
}



@media screen and (min-width: 768px) {
    section.hotel {
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
    }

    .hotel-info {
        flex: 1;
    }

    
    
    .page-opener {
         background-image: url('../images/topo.jpg');
         background-size: cover;
         background-position: center;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(5, 5, 5);
        }
    
    .page-opener-content {
        text-align: center;
        }
    
    .page-opener-content h1 {
        font-size: 36px;
        margin-bottom: 20px;
        border: #222324;
        border-style: double;
        }
    
    .page-opener-content p {
        font-size: 20px;
        margin-bottom: 0;
        background-color: white;
        border-style: double;
        border: #222324;
        }
    }

@media (max-width:820px) {

    /* Adjust the breakpoint as needed */
    .hotel-image img {
        display: none;
    }

}