@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

/*--------------------------------------------Heading*/
.bg-color-name-title {
    background-color: #F5FFF2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: black;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
    background-color: #F5FFF2;
}

#logo {
    float: right;
    font-size: 280%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: left;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

/*--------------------------------------------Hero Image*/

#hero {
    height: 600px;
    width: 100%;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
}