@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
/*--------------------------------------------Body*/

.flavour-text {
   background-color: #c7c7c7;
    background-repeat: no-repeat;


}

.bg-color-name-title {
    background-color: #F5FFF2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: black;
    max-width: 2000px;
    margin: 0 auto;
}

/*--------------------------------------------Heading*/
header {
    margin-bottom: 20px;
}

header img {
    float: right;
    width: 50px;
    height: 50px;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
    background-color: #F5FFF2;
    padding: 10px;
    margin: 0;
}

#logo {
    float: right;
    font-size: 200%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    padding-right: 10px;
    margin-bottom: -8px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-left: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
    header img {
        float: none;
        display: block;
        margin: 0 auto;
    }

    #logo {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    #menu {
        text-align: center;
    }

    #menu li {
        display: block;
        margin: 10px 0;
        padding-top: 10px;
    }
}

/*--------------------------------------------Hero Image*/

#hero {
    height: 610px;
    width: 100%;
    background-image: url("../images/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;



    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -10px;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: black;

}

#cover-text h3 {
    font-size: small;
}

#cover-text {

    font-family: 'Playfair Display',
        serif;

    letter-spacing: 2px;

    width: 500px;
    height: 200px;
    border-radius: 25px;

    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #ffffffde;
    opacity: 60%;

    bottom: 30px;
    left: 150px;

    position: absolute;
}

/*--------------------------------------------Info Section*/

.flavour-text p {
    background-color: #fafafaf6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}


#left-flavour {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-flavour {
    padding-top: 30px;
    width: 33%;
    float: right;

}


#center-insta {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-why-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-why-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-why-heading h2 {
    text-align: right;
}

#container {
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 0 auto
}

#cover-bg {
    background: url('../images/instapic.png') no-repeat center center;
    height: 100%;

}

/*--------------------------------------------Footer*/

footer {
    height: 10px;
    background-color: white;

}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 100%;
    margin: 0%;
    padding: 1%;
    color: #777777;
}

footer p {
    text-align: center;
    font-size: 100%;
    margin: 1%;
    padding: 0%;
}

form {
    text-align: center;
}

input[type=submit] {
    background-color: #777777;
    color: white;
    padding: 1px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b3cfdb;
}

input#email {

    background-color: #F5FFF2;
    border: #222324;
    border-style: ridge;

}


/*--------------------------------------------NEW PAGE- Hikes*/


#walks {
    background-color: #fafafaf6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#easy-walk {
    padding-top: 0px;
    width: 33%;
    float: left;
}

#mid-walk {
    padding-top: 0px;
    width: 33%;
    float: right;
}

#hard-walk {
    padding-top: 0px;
    width: 33%;
    margin: 0 auto;
}

#walks h2 {
    text-decoration: underline;
}

#walks {
    background-color: #fafafaf6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#easy-walk {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#mid-walk {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#hard-walk {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#walks h2 {
    text-decoration: underline;
}



.column {
    float: left;
    width: 32%;
    padding: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-left: 20px;
    border-style: groove;
}


.row::after {
    content: "";
    clear: both;
    display: table;
    
}

#cafes {
    background-color: #fafafaf6;
    border-radius: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#cafe-1 {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#cafe-2 {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#cafe-3 {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#cafes h2 {
    text-decoration: underline;
}

.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

/*--------------------------------------------NEW PAGE- Hotels*/



section.hotel {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 20px;
    /* Added left and right margins */
}

.hotel-info {
    padding: 30px;
}

.hotel-info h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
}

.hotel-info p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.hotel-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 400px;
    /* Center the image horizontally */
}

.hotel-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    /* Ensure images have the same size */
    width: 599px;
    /* Added width property */
}



@media screen and (min-width: 768px) {
    section.hotel {
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
    }

    .hotel-info {
        flex: 1;
    }


        .page-opener {
            background-image: url('/assets/images/topo.jpg');
            background-size: cover;
            background-position: center;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(5, 5, 5);
        }
    
        .page-opener-content {
            text-align: center;
        }
    
        .page-opener-content h1 {
            font-size: 36px;
            margin-bottom: 20px;
            border: #222324;
            border-style: double;
        }
    
        .page-opener-content p {
            font-size: 20px;
            margin-bottom: 0;
            background-color: white;
        }